*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 50px;
    background: #fff;
}
#logo{
    height: 45px;
    width: 50px;
    margin-right: 90px;
}
.fa{
    color: #4B56D2;
    font-size: 40px;
}
nav ul{
    display: none;
}
nav button{
    height: 30px;
    width: 70px;
    font-size: 14px;
    border: none;
    background-color: #db4214;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
nav button:hover{
    background-color: #86331a;
}
/* HERO SECTION */
.hero{
    width: 100%;
    height:300px;
    background-image:  url(./images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 70%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #040835;
    text-align: center;
}
.text-box h2{
    font-size: 22px;
    font-family: 'Shrikhand', cursive;
}
.explore-btn{
    display: inline-block;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    padding: 14px 26px;
    background-color: #040835;
    margin-top: 40px;
    cursor: pointer;
    text-decoration: none;
}
.explore-btn:hover{
    background: #fff;
    color: #040835;
    cursor: pointer;
    border: none;
}

/*---WHO WE ARE SECTION---*/
.company-bg{
    height: 1350px;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.we-are h1{
    color: #db4214;
}
.we-are p{
    line-height: 25px;
    text-align: justify;
    padding: 10px;
}
.we-are a{
    text-decoration: none;
}
.box-image{
    height: 500px;
}
.image img{
    height: 210px;
    width: 320px;
    margin-top: 8px ;
}
.image p{
    color: #1d1b1b;
}
.card-box{
    width: 350px;
}
.cards{
    line-height: 25px;
    text-align: justify;
    margin: 10px 5px 20px;
}
.cards h3{
    text-align: center;
}
.cards p{
    margin-right: 30px;
}
/* REACH-OUT SECTION */
.reach-us{
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    position: relative;
}
.question{
    width: 70%;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #33365c; 
    border-radius: 20px;
    text-align: center;
}
.question h3{
    color: #fff;
    font-size: 13px;
    margin: 20px 5px 15px;
}
.question p{
    color: #fff;
    font-size: 10px;
    margin-bottom: 20px;
}
.question-btn{
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
}
.question-btn:hover{
    color: #33365c;
    background-color: #fff;
}
/* FOOTER SECTION */
footer{
    height: 580px;
    background-color: #e9eaf1;
}
.foot{
    padding: 30px;
    color: gray;
    text-align:center;
}
.company h2{
    font-size: 18px;
}
.company p{
    line-height: 20px;
}
.s-media .fa{
    padding: 10px 20px 30px 0px;
    font-size: 20px;
}
.fbk{
    color: #040835;
}
.twt{
    color: #5c68ec;
}
.pint{
    color: #d4503e;
}
.inst{
    color: #b40a68;
}
.f-nav h2{
    font-size: 20px;
    line-height: 25px;
}
.f-nav ul li{
    list-style-type: none;
    padding: 5px;
}
ul li a{
    text-decoration: none;
    cursor: pointer;
}
#c-us{
    width: 300px;
    margin-top: 25px;
}
#c-us h2{
    font-size: 20px;
}
#c-us p{
    line-height: 30px;
}
.addy{
    color: gray;
    padding-right: 5px;
}
footer hr{
    margin-top: 10px;
    height: 1px;
    background-color: #fff;
    margin: 0px 20px;
     box-shadow: 0px 0px 2px 0px;
}
footer p{
    text-align: center;
}
/*----ABOUT US PAGE----*/
.header-bg{
    height: 250px;
    width: 100%;
    background-image: url(./images/abt-us.jpg);
    background-position:bottom;
    background-size:cover;
}
.about-header{
    height: 500px;
    width: 90%;
    margin: auto;
    text-align: justify;
}
.about-header h1{
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    color: #db4214;
}
.about-header p{
    line-height: 25px;
    padding: 10px 10px 20px;
}
.stment{
    margin-bottom: 10px;
}
.stment h2{
    text-align: center;
}
.statement h2{
    color: #db4214;
}
/* ---SERVICES PAGE */
.services{
    height: 250px;
    width: 100%;
    background-image: url(./images/Us.jpg);
    background-position:top;
    background-size:cover;
}
.service-header{
    height: 1140px;
}
.service-header h1{
    text-align: center;
    color: #db4214;
    padding: 20px 0 10px;
}
.prices{
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin-bottom: 20px;
}
.pricing{
    width: 100px;
    height: 120px;
    text-align: center;
    background-color: #dadada;
    border-radius: 10px;
    margin: 8px;
    transition: 0.5s;
}
.pricing:hover{
    box-shadow: 0 0 20px 0px #111;
    opacity: 0.7;
}
.pricing h2{
    padding: 15px 15px 20px;
}
.pricing p{
    font-weight: 800;
    margin-bottom: 10px;
}
.finput{
    width: 100%;
    text-align: center;
}
.finput h2{
    font-size: 16px;
    color: #db4214;
}
.finput p{
    padding: 0px;
    font-size: 12px;
}
.form{
    width: 360px;
    padding: 30px 0px;
}
.form input{
    width: 80%;
    padding: 5px 10px;
    margin: 6px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
}
#form input{
    width: 80%;
    padding: 5px 10px;
    margin: 6px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
}
input:focus{
    border: 1px solid #555;
}
.submit{
    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #db4214;
    color: #fff;
    border: none;
    cursor: pointer; 
    margin-bottom: 10px;
}
.submit:hover{
    background-color: #fff;
    color: #db4214;
    border: 1px solid #ccc;
    transition: 0.9s;
}
.track-it{
    width: 80%;
   margin: auto;
    background-color: #db4214;
    border: none;
    border-radius: 10px;
    padding: 15px;
}
.track-it label{
    font-size: 18px;
    margin: 10px 35px;
    color: #fff;
    }
.track-it input{
    width: 185px;
    height: 30px;
    padding: 2px 5px;
    border-radius: 3px;
    border: none;
    margin-left: 40px;
}
.track-it button{
    margin-top: 15px;
    margin-left: 90px;
    height: 30px;
    width: 80px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #db4214;
    cursor: pointer;
    transition: 0.5s;
}
.track-it button:hover{
    color: #db4214;
    background-color: #fff;
    border: 1px solid #ccc;
}



@media (min-width: 768px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    nav{
        height: 70px;
    }
    #logo{
        height: 70px;
        width: 75px;
    }
    .menu-bar{
        display: none;
    }
    .nav-links{
        display: flex;
        justify-content: space-around;
    }
    .nav-links li{
        font-size: 30;
        padding-right: 50px;
        list-style-type: none;
    }
    .nav-links li a{
        font-size: 18px;
        font-weight: 600;
    }
    nav button{
        height: 40px;
        width: 100px;
    }
    .hero{
        height: 500px;
    }
    .text-box{
        top: 48%;
    }
    .text-box h2{
        font-size: 60px;
    }
    .explore-btn{
        margin-top: 70px;
        font-size: 25px;
    }
    .company-bg{
        height: 850px;
    }
    .we-are h1{
        font-size: 35px;
        font-weight: 600;
        padding: 20px 10px 5px;
    }
    .we-are p{
        width:80%;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        margin: 10px 0px 10px 125px;
        text-align: justify;
    }
    .we-are a{
        font-size: 20px;
    }
    .box-image{
        height: 350px;
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        box-sizing: border-box;
    }
    .image img{
        height: 310px;
        width: 510px;
        border: 1px solid #ddd;
    }
    .image img:hover{
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
    .image p{
        font-size: 18px;
    }
    .card-box{
        width: 1200px;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }
    .cards{
        text-align:justify;
        
        padding: 20px 10px;
    }
    .cards h3{
        font-size: 23px; 
        padding: 10px;  
    }
    .cards span{
        font-size: 23px;
    }
    .cards p{
        line-height: 25px;
        font-size: 19px;
        margin-right: 0px;
    }
    .reach-us{
        height: 300px;
    }
    .question{
        height: 200px;
    }
    .question h3{
        font-size: 25px;
        margin: 35px 0px 10px;
    }
    .question p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .question-btn{
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 800;
    }
    .question-btn:hover{
        color: #33365c;
        background-color: #fff;
        font-weight: 800;
    }
    footer{
        height: 300px;
    }
    .foot{
        padding: 30px 30px 20px;
        display: flex;
        justify-content: space-around;  
    }
    .company{
        height: 200px;
        width: 450px;
        padding-left: 0px;
    }
    .company h2{
        font-size: 20px;  
    }
    .company p{
        font-size: 20px;
        line-height: 30px;
    }
    .s-media .fa{
        padding: 25px 10px;
        font-size: 25px;
    }
    .f-nav h2{
        font-size: 20px;
    }
    .f-nav ul{
        font-size: px;
    }
    #c-us{
        width: 450px;        
        margin-top: 0px;
    }
    #c-us h2{
        font-size: 20px;
        padding-left: 15px;
    }
    .addy{
        color: gray;
        padding: 5px;
    }
    /* ---ABOUT-US PAGE */
    
    .header-bg{
        height: 500px;
    }
    .about-header{
        width: 70%;
        height: 350px;
    }
    .about-header h1{
        font-size: 35px;
    }
    .about-header p{
        font-size: 20px;
    }
    .statement{
        display: flex;
        margin-top: 30px; 
    }
    .stment{
        margin-right: 20px;
    }
    .stment h2{
        margin-top: 10px;
    }
    .statement h2 span{
        font-size: 25px;
    }
    .stment p{
        padding: 15px;
    }
    /* ---SERVICES PAGE */
    .services{
        height: 675px;
    }
    .service-header{
        height: 1150px;
    }
    .service-header h1{
        font-size: 35px;
        margin-top: 30px 0;
    }
    .prices{
        justify-content:space-evenly;
    }
    .pricing{
        width: 200px;
        height: 140px;
    }
    .pricing h2{
        font-size: 25px;
        margin: 8px 0px;
    }
    .pricing p{
        font-size: 25px; 
    }
    .finput{
        width: 1150px;
        display: flex;
        margin: auto;
    }
    .finput h2{
        font-size: 25px;
        color: #db4214;
    }
    .finput p{
        font-size: 16px;
    }
    .form{
        width: 600px;
        margin-top: 115px;
    }
    #form{
        width: 600px;
        margin-top: 60px;
    }
    .form input{
        padding: 15px 25px;
        margin: 5px;
        border-radius: 8px;
        font-size: 20px;
    }
    #form input{
        padding: 15px 25px;
        margin: 5px;
        border-radius: 8px;
        font-size: 20px;
    }
    .submit{
        font-size: 20px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
    }
    .track-it{
        width: 600px;
        margin: auto;
        margin-top: 40px;
        padding: 20px;
    }
    .track-it label{
        font-size: 22px;
        margin: 20px 10px;
    }
    .track-it input{
        height: 35px;
        width: 285px;
        padding: 2px 4px;
        border-radius: 5px;
    }
    .track-it button{
        margin-top: 10px;
        margin-left: 250px;
        height: 40px;
        width: 100px;
        font-size: 20px;
    }
}

